_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
drafts/east_asia/.Rhistory
drafts/east_asia/east_asia.R
drafts/east_asia/working_papers.tab
test.html
test.html
