@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

select {
	background-color: transparent;
	border: 0;
	border-bottom:  1px dotted black;
	font:  1.4rem/2rem et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	text-align: center;
}

	select:hover {
		cursor: pointer;
	}

	select > option {
		font:  1.4rem/2rem et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
		background:  blue;
	}

#toolbar {
	clear:  both;
	margin-bottom: 1.5rem;
	width:  1000px;
}

#interface {
	font-size:  1.4rem;
	float: left;
	width:  60%;
}

#projection {
	float:  left;
	font-size: 4rem;
	font-weight: bold;
	line-height:  1.05;
	padding-top: 25px;
	text-align:  right;
	width:  40%;
}

.axis {
	font: 'Lato', sans-serif;
	font-size: 20px;
}

#example {
	background-color: transparent;
	border: 0;
	border-bottom:  1px dotted black;
	font:  1.4rem et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	text-align: center;
  	cursor: pointer;

}

#example:hover {
	border-bottom:  1px dotted red;
	color:  red;
}