---
layout: default
---

<style>
  .profile-container {
    display: flex;
    align-items: flex-start; /* Aligns children to the top. */
    gap: 20px;
  }

  .profile-image {
    flex: 0 0 300px; /* Sets the width of the profile-image div to 300px. */
  }

  .profile-image img {
    width: 100%; /* Ensures the image takes the full width of its parent .profile-image. */
    max-width: 100%; /* This ensures it's responsive and won't exceed its parent's width. */
    height: auto; /* Maintains aspect ratio. */
  }

  .profile-content {
    flex: 1; /* This allows the content area to take up the remaining space. */
  }
</style>

<div class="profile-container">
  <div class="profile-image">
    <img src="{{site.baseurl}}/images/oliver_kim_job_market.JPG" alt="Oliver Kim. Photo credit to Nadia Kim." />
  </div>

  <div class="profile-content">
    {{ content }}
  </div>
</div>
